/* Nunito */

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-SemiBold.eot');
  src: url('../fonts/nunito/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-SemiBold.woff') format('woff'),
    url('../fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Bold.eot');
  src: url('../fonts/nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-Bold.woff') format('woff'),
    url('../fonts/nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Light.eot');
  src: url('../fonts/nunito/Nunito-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-Light.woff') format('woff'),
    url('../fonts/nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-ExtraBold.eot');
  src: url('../fonts/nunito/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-ExtraBold.woff') format('woff'),
    url('../fonts/nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-ExtraLight.eot');
  src: url('../fonts/nunito/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-ExtraLight.woff') format('woff'),
    url('../fonts/nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Black.eot');
  src: url('../fonts/nunito/Nunito-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-Black.woff') format('woff'),
    url('../fonts/nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Regular.eot');
  src: url('../fonts/nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-Regular.woff') format('woff'),
    url('../fonts/nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OCRA';
  src: url('../fonts/OCRA.otf');
  src: url('../fonts/OCRA.otf?#iefix') format('embedded-opentype'),
  url('../fonts/OCRA.ttf') format('truetype')
}